<%= form_for @listing, :html => { :multipart => true } do |f| %>
  <% if @listing.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert" id="error_explanation">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>
      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :name, placeholder: 'Listing name', hint: 'This is the hint' %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">     
      <%= f.label :description, hint: 'ADD maxlength 1000 words' %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price, class: "form-control" %>
    </div>
   
    <div class="form-group">
      <%= f.file_field :image %>
    </div>
        
    <div class="form-group">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
<% end %>

